/* taille maxi d'affichage du site  */
html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; font-weight: 800; } /* =24px */
h2   { font-size: 2.0rem; font-weight: 500; } /* =20px */
h3   { font-size: 1.8rem; font-weight: 400; } /* =18px */

.site-container {
  width:device-width;
  max-width: 1920px;
  margin: auto;
}

/* charte des couleurs du site, hormis blanc  */
.bleusite {
  color: #0065fc;
}

.bleuclair {
  background-color: #deebff;
}

.fondgris {
  background-color: #f2f2f2;
}

.noir {
  color: #000000;
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'raleway', serif, sans-serif;  
  color: black;
}


ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 1.4rem;
  cursor: pointer;
}

a:focus {
  font-size: 1.4rem;
  font-weight: bolder;
  cursor: pointer;
}


/****   HEADER                      ***/
/****   affichage logo site         ***/
/****   main menu                   ***/
/****   bande d'accroche            ***/

.logo {
  height: 6rem;
  margin:0.3rem;
}


/****  main menu                    ***/
.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  flex-wrap: wrap-reverse;
}

navbar a { 
  display:block;
  font-size:1.3rem;
  font-weight:600;
}

.navbar-h {
  width: 50%;
  text-align: center;
  position: relative;
  border-top: none;
  border-bottom:0.3rem solid;
  border-color: 'bleusite';
  padding-bottom: 1rem;
 }

.navbar-a {
  width: 50%;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
}

.navbar-i {
  position: relative;
  font-weight: 800;
  bottom: 6rem;
  padding-right:1rem;
}

  
/****  bandeau d'accroche             ***/
.accroche {
  margin: 3rem 6rem 0 5rem;
}

.titre-p {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

.titre-2 {
  font-weight: 500;
  font-size: 1.0rem;
}

/****   PARTIE SELECTIONS            ***/
/****   sélection de la ville        ***/
/****   et sélection des filtres     ***/

/*  sélection de la ville -*/
.hebergements {
  line-height: 2,5rem;
  display: flex;
  flex-direction: row;
}

.ico-info {
  margin: auto;
  border-style: hidden;
  border-radius: 0.3rem;
  font-weight: bolder;
}

/*  sélection des filtres */
.filtres {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

/* coeur de page ************/
/* Container des affichages */
.row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 1rem;
}

/* affichage des hébergements sur 3 colonnes  */
.column.hebergements {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  margin-right: 0.5rem;
  padding: 0.8rem;
  border: 0.1rem;
  border-radius: 1.5rem;
}

/* affichage des plus populaires sur 1 colonne  */
.column.populaires {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0.5rem;
  padding: 0.8rem;
  border: 0.rem;
  border-radius: 1.5rem;
}

.tab-biens {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin: 0.5rem;
  padding: 0.8rem;
  border: 0.1rem;
  border-radius: 1.5rem;
}

.biens {
  width: 33%;
  height: 40rem;
  background-color: rgb(0, 4, 255);
  border: 0.1rem;
  border-radius: 1.5rem;
}

.pop-entete {
  flex-direction: row;
  justify-items: space-between;
}

.epop {
  width: 100%;
  height: 30rem;
  background-color: rgb(0, 255, 64);
  margin: 0.5rem;
  padding: 0.8rem;
  border: 0.1rem;
  border-radius: 1.5rem;
}

/* affichage des activités sur 4 colonnes  */
.activites {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  border: 0.1rem;
  border-radius: 1.5rem;
  height: auto;
}

.tab-activites {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin: 0.5rem;
  padding: 0.8rem;
  border: 0.1rem;
  border-radius: 1.5rem;
}

.activite-g {
  width: 24%;
  height: 42rem;
  background-color: rgb(165, 53, 105);
  border: 0.1rem;
  border-radius: 1.5rem;
}

.activite-p {
  width: 24%;
  height: 20rem;
  background-color: rgb(104, 71, 86);
  border: 0.1rem;
  border-radius: 1.5rem;
}

/* Style du footer  */
/* = Container des menus de bas de page */
.footer {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

/*  menus du footer   */
.fmenu {
  padding: 1.0rem;
  min-width: 32%;
}

.titre-m {
  font-size: 1.2rem;
  font-weight: 900;
}



/* Tous petits écrans : affiche le site sur 1 colonne */
@media (max-width: 600px) {

  * {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .populaires {
    -ms-flex-order: 1;
  }

  .hebergements {
    -ms-flex-order: 2;
  }


  .navbar-h {
    width: 50%;
    text-align: center;
    border-top: none;
    border-bottom: 0.5rem solid;
    border-color: #0065fc;
  }

  .navbar-a {
    width: 50%;
  }


  .navbar-i {
    width: 50%;
  }

  .menu_header {
    align-content: flex-end;
  }
}

/* Ecrans moyens : affiche les hébergements sur 2 colonnes */
@media (max-width: 800px) {
  .column.hebergements {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .hebergements {
    -ms-flex-order: 1;
  }

  .populaires {
    -ms-flex-order: 2;
  }
  .activites {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }

}