/* taille maxi d'affichage du site  */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* =16px */
}

.titre-p {
  font-weight: 900;
  font-size: 3rem;
}

.titre-2 {
  font-weight: 400;
  font-size: 2.1rem;
}

.titre-m {
  font-weight: 600;
  font-size: 2.0rem;
}

/* charte des couleurs du site, hormis blanc  */
.bleuclair {
  background-color: #deebff
}

.fondbleu {
  background-color: #0065fc
}

.fondgris {
  background-color: #f2f2f2
}

.fondblanc {
  background-color: #fff
}

.bleusite {
  color: #0065fc
}

.charbleuclair {
  color: #deebff
}

.noir {
  color: #000
}

.blanc {
  color: #fff
}

.grisclair {
  color: #f2f2f2
}

.grisfonce {
  color: #555
}

.bordgris {
  border-color: #f2f2f2
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'raleway', serif, sans-serif;
}

.site-container {
  width: device-width;
  max-width: 1920px;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  color: black;
}

/*  Apparence des liens   */
ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  transform: 1.15;
  cursor: pointer;
}

a:focus {
  transform: 1.15;
  cursor: pointer;
}


/****   HEADER                      ***/
/****   affichage logo site         ***/
/****   main menu                   ***/
/****   bande d'accroche            ***/

.logo {
  height: 6rem;
  margin: 0.3rem;
}


/****  main menu                    ***/
.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-wrap: wrap-reverse;
  margin-bottom: 3rem;
}

.navbar a {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar-h {
  width: 50%;
  text-align: center;
  position: relative;
  border-top: none;
  border-bottom: 0.3rem solid;
  border-color: 'bleusite';
  padding-bottom: 1rem;
}

.navbar-a {
  width: 50%;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
}

.navbar-i {
  position: relative;
  font-weight: 800;
  bottom: 6rem;
  padding-right: 4rem;
}

/*
.fas {
  width:2rem;
  height:2rem;
}
*/

/****  bandeau d'accroche             ***/
.accroche {
  margin-bottom: 3rem;
}

/****   PARTIE SELECTIONS            ***/

.selections {
  margin: 1rem;
}

/****   sélection de la ville        ***/
/****   et sélection des filtres     ***/

/*  sélection de la ville  */
.sel-ville {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  margin-bottom: 4rem;
}

.marker-ico {
  border: none;
  border-radius: 1rem 0 0 1rem;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
}


/*  sélectionne le bouton qui s'affiche   */
/*  icône ou bouton Rechercher            */
.search-ico {
  display: auto;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  width: 4rem;
  object-position: -1rem;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.btn-recherche {
  display: none;
  border: none;
  border-radius: 0 1rem 1rem 0;
  height: 4rem;
  width: auto;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.recherche {
  height: 4rem;
  display: flex;
  border: none;
  font-size: 2rem;
  font-weight: 900;
  padding-left: 1rem;
}

/*  sélection des filtres */
.filtres-selection {
  display: flex;
  margin-bottom: 3rem;
}

.filtres-titre {
  width: 100%;
  height: 4rem;
  margin-right: 4rem;
}

.filtres-selecteur {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  margin-bottom: 3rem;
}

.filtre-btn {
  display: flex;
  height: 4rem;
  border: 1px solid;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.filtre-ico {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  left: -0.2rem;
  z-index: 1;
}

.filtre-input {
  height: 3.8rem;
  border: none;
  border-radius: 2rem;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  font-weight: 900;
  background-color: white;
  color: black;
}

.filtre-input:hover {
  cursor: pointer;
  background-color: #0065fc;
  color: #fff;
}

.filtre-input:focus {
  cursor: pointer;
  background-color: #0065fc;
  color: #000;
}

.filtre-input:visited {
  background-color: #0065fc;
  color: #000;
  font-size: 3rem;
}

.filtre-ico i {
  margin: auto;
}

.eco {
  width: 16rem;
}

.familial {
  width: 11rem;
}

.romantique {
  width: 15.5 rem;
}

.animaux {
  width: 21rem;
}

/*  Affichage du nombre de logements  */
.info-nombre {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.icone-info {
  display: flex;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem;
  border-radius: 50%;
}

.info-texte {
  padding-left: 2rem;
}

/* coeur de page  ************/
/* Containers des affichages */
.resultats {
  width: 100%;
  margin: 0;
  margin-bottom: 3rem;
}

.aff-stars {
  display: flex;
  flex-direction: row;
}

/* affichage des plus populaires */
/*                               */
aside {
  order: 1;
  border: none;
  border-radius: 2.5rem;
  padding: 5rem;
}

.pop-entete {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.populaires {
  width: 100%;
  display: grid;
  grid-area: populaires;
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
  justify-items: center;
}

/*   Pastilles populaires   */
.pop-details {
  width: 100%;
  height: 20rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 15px #444;
}

.pop-photo {
  object-fit: cover;
  position: flex-start;
  width: 37%;
  border-radius: 1.3rem 0 0 1.3rem;
}

.pop-description {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  justify-content: space-between;
}

/* affichage des hébergements    */
section {
  order: 2;
  border: none;
  border-radius: 2.5rem;
  padding: 3rem;
  margin-bottom: 3rem;
}

.heb-entete {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.hebergements {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
  justify-items: center;
}

/*   Pastilles hébergements   */
.heb-details {
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 15px #444;
  align-items: space-between;
}

.heb-photo {
  object-fit: cover;
  height: 60%;
  width: 100%;
  border-radius: 1.3rem 1.3rem 0 0;
}

.heb-description {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
}

.aff-plus {
  margin-top: 3rem;
}

/* affichage des activités  */
.tab-activites {
  width: 100%;
  border: none;
  padding: 0.8rem;
  margin-bottom: 3rem;
}

.act-entete {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.activites {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
  justify-items: center;
}

/*   Pastilles activités   */
.act-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40rem;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 15px #444;
}

.act-photo {
  
  object-fit: cover;
  width: 100%;
  height: 35rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.act-description {
  height: 5rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  width: auto;
}

/* Style du footer  */
/* = Container des menus de bas de page */

footer {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
}

/*  menus du footer   */
.fmenu {
  line-height: 3.0rem;
  width: 100%;
  padding-bottom: 4rem;
}

/*   Responsive layout - Affichages différents suivant la taille de l'écran   */
/* ==> Affichage sur une ligne du menu principal                              */
/* ==> Affichage en colonnes des résultats, activités et menus du footer      */

/* Petits écrans : mobiles horizontal, petites tablettes vertical             */
/* Pas de changement du menu principal     */
/* Affichages résultats sur 2 colonnes     */
@media screen and (min-width: 768px) and (max-width: 991px) {

  /* Style des blocs principaux */
  section {
    order: 1;
    width: 50%;
  }

  aside {
    order: 2;
    max-width: 50%;
  }

  .activites {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
  }

  /* Style du footer */
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fmenu {
    width: 50%;
  }

}

/* Petits écrans : tablettes horizontal, et écrans basse définition            */
/* menu principal sur une ligne            */
/* Affichages résultats sur 3 colonnes     */

@media screen and (min-width: 992px) and (max-width: 1199px) {

  .navbar {
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
  }


  /* Style des blocs principaux */
  section {
    order: 1;
    width: 66.67%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
  }

  aside {
    order: 2;
    width: 33.33%;
  }

  .activites {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    flex-wrap: wrap;
  }

  /* Style the footer */
  .footer {
    flex-direction: row;
  }

  .fmenu {
    width: 33%;
  }

}

/* Petits écrans : tablettes horizontal, et écrans basse définition            */
/* menu principal sur une ligne            */
/* Affichages résultats sur 4 colonnes     */
/*

@media screen and (min-width: 992x) {

  .site-container {
    flex-direction: row;
  }
}
    grid-template-columns: 1fr 1fr;

#menu_principal {
  display: -webkit-flex-direction-row;
  padding: 15px 15px;
}

}

*/